body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: sans-serif;
  font-size: 14px;
}

.uvod {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0 50px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%)
    /*
  justify-content: center;
  align-items: center; 
  
   toto bohuzel na vycentrovani nepomohlo tak jsem pouzila pozicování relative
  */
}

.uvod__fotka {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.uvod__text {
  background-color: #283e50;
  color: white;
}

.uvod__nadpis {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

.uvod__popis {
  line-height: 1.5;
  padding-inline: 15px;
  padding-bottom: 15px;
}

.uvod__buttons {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  width: 100%;
}

.uvod__buttons a {
  padding-block: 10px;
  text-decoration: none;
  color: white;
  display: block;
}

.uvod__pravidla,
.uvod__hrat {
  border: 0;
}

.uvod__pravidla {
  background-color: #1fcca4;
  margin-bottom: 1px;
}

.uvod__pravidla:hover {
  background-color: #1cbb96;
}

.uvod__hrat {
  background-color: #0197f6;
}

.uvod__hrat:hover {
  background-color: #0090e9;
}

@media (min-width: 420px) {
  .uvod {
    width: 300px;
    padding: 10vh 20px 30vh 20px;
  }
}

/*ještě potřebuji doladit padding a aby bylo dobré zobrazení na celou stránku včetně pozadí*/
